<%= image_tag('globeLogo.png',  :alt =>'Travelagent.com for your travel needs' ) %>
<%= image_tag('travelagentbanner.png',  :alt =>'Travelagent.com is your home to arrange the perfectcruise' ) %>
<p>Find a Cruise  |   Make aPayment</p> |  <%=link_to 'Our ships',ships_path %> |
<%=link_to 'Our Harbours', harbours_path %>
<%=link_to 'Find a Cruise', cruises_path %>
<%=link_to 'Home', '/' %>